:root{
    --colorPrimario : #306060;
    --colorSecundario: #82afb0;
    --contrasteOscuro: #cad4d8;
    --contrasteIluminado: #f6f6f6;
    --bigSizeFont: 3.5rem;
    --mediumSizeFont: 2rem;
    --normalSizeFont: 1.5rem;


}
*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: 'Roboto';
}
.espacing{
    margin: 0 5%;
}
.big-title{
    font-family: 'Roboto Slab';
    font-size: var(--bigSizeFont);
    font-weight: bolder;
    margin: 0 0 7% 0;
}
.section-title{
    font-size: var(--normalSizeFont);

}
#container-nav{
    background: var(--contrasteOscuro);
    height: 80px;
}
#nav-bar{
    display: flex;
    justify-content: space-between;
}
.nav-logo{
    font-size: var(--normalSizeFont);
    font-weight: bold;
    line-height: 80px;
    width: max-content;
}
.nav-toggle{
    color: var(--contrasteIluminado);
    background: none;
    border: none;
    font-size: var(--normalSizeFont);
    padding: 0 20px;
    line-height: 60px;
    display: none;
    cursor: pointer;
}
.nav-link{
    text-decoration: none;
    color: var(--colorPrimario);
}
.nav-menu{
    display: flex;
    list-style: none;
}
.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    width: max-content;
}
.nav-menu-link{
    padding: 8px 12px;
    border-radius: 5px;
}
.nav-menu-link:hover{
    background-color: var(--contrasteOscuro);
    color: var(--colorPrimario);
    transition: 0.3s;;
}

.container-view-principal{
    height: 60vh;
}
/* View Princiapl */
.content-view-principal{
    background-color: var(--colorPrimario);
    border-radius: 5px;
    color: var(--contrasteIluminado);
    padding: 30px;
    position: absolute;
    top: 25%;
    z-index: 1;
}

/* section information */
#informacion{
    background-color: var(--contrasteOscuro);
}
@media screen and (max-width: 768px) {
    #container-nav{
        height: 60px;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
    }
    .nav-logo{
        font-size: 25px;
        line-height: 60px;
    }
    .nav-toggle{
        color: var(--colorPrimario);
        display: block;
    }
    .nav-menu{
        flex-direction: column;
        align-items: center;
        background-color: var(--colorSecundario);
        position: fixed;
        left: 100%;
        top: 60px;
        width: 100%;
        padding: 20px 0;
        height: max-content;
        overflow-y: auto;
        z-index: 100;
        
    }
    .nav-menu-item{
        line-height: 60px;
    }
    .nav-menu-link{
        color: var(--contrasteIluminado);
    }
    .nav-menu-link:hover{
        background: none;
        color: #cad4d8;
        transition: 0.3s;
    }
    .nav-menu_visible{
        left: 0;
        transition: 0.3s;
    }
}